.cardone{
 
    /* display: flex; */
    /* margin: 5px 5px; */
  margin-left: 60px;
   width: 50%;
   height: fit-content;
   margin-right: 0px;
   /* row-gap: 5px; */
   /* align-items: center;
   justify-content: center; */
   margin: 30px 0px 30px 60px;

}
.card{
    background-color: white;
    margin: 30px 0px;
    padding: 30px 20px;
    border-radius: 15px;
    transition: 0.2s;
    width: 70%; 
    

}
.card:hover{
    transform: scale(1.05);
  
}
button{
    cursor: pointer;
    
}
.card:hover>.card-content-middle>button{
    background-color: rgb(19, 19, 223);
    opacity: 1;
}
.card-content-top{
    border-bottom: 1px solid rgb(157, 150, 150);
    /* display: flex; */

}
.card-content-top>p {
    text-align: center;
    opacity: 0.5;
   
}
.card-content-top>h1{
    text-align: center;
    font-size:xxx-large;
}
.card-content-top>span{
   text-align: center;
 
}

button{
    background-color: rgb(0, 119, 255);
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    border-radius: 5rem;
    border-color: rgb(0, 132, 255);
    width: 100%;
    opacity: 0.7;

}

.card-content-middle>p{
    margin-left: 5px;
}
.card-content-middle>p>span{
    margin-top: 15px;
    padding-top: 5px;
}

.blur{
     opacity: 0.7;   
}